
#contactVid{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100vh;
}

body{
    overflow: hidden;
}

main {
    display: flex;
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
    align-items: center; /* Centrado vertical */
    height: 96vh;
    position: relative;
}

.contact-form-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 500px;
    margin-left: 10vw;
}

h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.input-group .text {
    color: black;
}

label {
    font-size: 14px;
    color: #666;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
}

textarea {
    resize: vertical;
    min-height: 100px;
    margin-bottom: 2vh;
}

.submit-btn {
    padding: 12px 20px;
    font-size: 16px;
    color: white;
    background-color: #27AE60;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-bottom: 2vh;
    display: flex;               
    justify-content: center;     
    align-items: center;     
}

#linkedin{
    background-color: #0e76a8;
}

#github{
    background-color: #24292e;
}

.submit-btn:hover {
    background-color: #1E824C;
}

#menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

@media (min-width: 1921px){
    nav {
        font-size: 1em;
        display: flex;
        justify-content: space-between;
        font-size: 1.8em;
    }

    #fancier{
        flex: 1
    }

    #menu-icon {
        display: none;
    }
    
    h2 {
        font-size: 2em;
        margin-bottom: 15px;
    }
    .contact-form-container {
        width: 50vw;
        padding: 20px;
        margin-left: 15vw;
    }

    input, textarea {
        font-size: 1.5em;
    }

    .text{
        font-size: 1.5em;
    }
    .submit-btn {
        padding: 10px 15px;
        font-size: 2em;
    }
}

@media (max-width: 1920px){
    nav {
        font-size: 1em;
        display: flex;
        justify-content: space-between;
    }

    #fancier{
        flex: 1
    }

    #menu-icon {
        display: none;
    }
}

/* Diseño responsive */
@media (max-width: 1200px) {
    main {
        justify-content: center;
        align-items: center;
    }

    .contact-form-container {
        width: 80vw;
        padding: 20px;
        margin-left: 0vw;
    }

    input, textarea {
        padding: 10px;
        font-size: 1em;
    }

    h2 {
        font-size: 2.4em;
        margin-bottom: 15px;
    }

    .submit-btn {
        padding: 10px 15px;
        font-size: 1.5em;
    }

    nav{
        font-size: 1.35em;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 2em;
    }

    .submit-btn {
        font-size: 1.3em;
    }

    .input-group .text{
        font-size: 1em;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #menu-icon {
        display: block;
        font-size: 30px;
        cursor: pointer;
    }

    .item {
        display: none;
        padding: 15px;
        text-align: center;
    }

    .item.activeHamburger {
        display: block; 
    }

    #fancier{
        display: flex;
        justify-content: space-between;
        width: 90vw;
    }

    #fancier #name{
        place-self: center;
    }

    #fancier, .item{
        font-size: 1.3em;
    }
}

@media (max-width: 480px) {
    .contact-form-container {
        width: 90vw;
    }
}