/* Video de fondo */
#contactVid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 96vh!important;
}

/* Contenedor principal */
main {
    display: flex;
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
    align-items: center; /* Centrado vertical */
    height: 100vh;
    position: relative;
    height: 96vh!important;
}

/* Formulario de contacto */
.contact-form-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 500px;
    margin-left: 10vw;
}

/* Título */
h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}


.input-group .text {
    color: black;
}

label {
    font-size: 14px;
    color: #666;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
}

textarea {
    resize: vertical;
    min-height: 100px;
    margin-bottom: 2vh;
}

/* Estilos del botón de envío */
.submit-btn {
    padding: 12px 20px;
    font-size: 16px;
    color: white;
    background-color: #27AE60;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* Hace que el botón ocupe el mismo ancho que los inputs */
    margin-bottom: 2vh;
    display: flex;               /* Asegura que el contenido del div sea flexible */
    justify-content: center;     /* Centra el contenido horizontalmente */
    align-items: center;         /* Centra el contenido verticalmente */
}

#linkedin{
    background-color: #0e76a8;
}

#github{
    background-color: #24292e;
}

.submit-btn:hover {
    background-color: #0056b3;
}


#menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* Diseño responsive */
@media (max-width: 1200px) {
    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-form-container {
        width: 80vw;
        padding: 20px;
        margin-right: 5%;
        margin-bottom: 30vh;
    }

    input, textarea {
        padding: 10px;
        font-size: 1em;
    }

    h2 {
        font-size: 2.4em;
        margin-bottom: 15px;
    }

    .submit-btn {
        padding: 10px 15px;
        font-size: 1.5em;
    }
}

@media (max-width: 768px) {
    /* Ajusta la posición del formulario en pantallas más pequeñas */
    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-form-container {
        width: 80vw;
        padding: 20px;
        margin-right: 10vw;
    }

    h2 {
        font-size: 2em;
    }

    .submit-btn {
        font-size: 1.3em;
    }

    .input-group .text{
        font-size: 1em;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #menu-icon {
        display: block; /* Muestra el icono hamburguesa en pantallas pequeñas */
        font-size: 30px;
        cursor: pointer;
    }

    .item {
        display: none; /* Oculta los elementos del menú por defecto */
        padding: 15px;
        width: 100%;
        text-align: center;
    }

    .item.active {
        display: block; /* Muestra el elemento cuando tiene la clase active */
    }
}

@media (max-width: 480px) {
    .contact-form-container {
        width: 90vw;
        margin-right: 10vw;
        margin-bottom: 0vh;
    }
}