/* Core */

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-family: "montserrat";
    box-sizing: border-box;
}

@font-face {
    font-family: "montserrat";
    src: url('../font.ttf');
}

video{
    height: 100vh;
    width: 100%;
    object-fit: fill;
}
