/* Main */

#loading, #aboutMe, #blind, #menu, .item, .mainText, video{
    width: 100%;
}

#loading{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; 
}

#blind{
    height: 100vh;
}
