/* Main menu */

.mainText{
    z-index: 3;
    animation: fadeInAnimation ease 1.8s;
}

.mainText > #name{
    font-weight: 120;
    transform: rotate(-.575deg);
}

#menu{
    display: flex;
    z-index: 4;
}

#item{
    font-weight: 135;
    font-size: 1.65em;
    margin-top: 28.5vh;
}

#item > a:hover, #name > a:hover{
    color: #cda45e;
    animation-fill-mode: ease 4s;
}

.push{
    padding-right: 100px!important;
}