/* Proyects */

nav{
    position: relative;
    background-color: black;
}

nav > #name, #item{
    padding-top: 1vh;
    padding-bottom: 1vh;
}

nav > #name{
    float: left;
    margin-left: 20px;
}

nav > #item{
    float: right;
    margin-right: 20px;
}

a:hover, .active{
    color: #cda45e;
}

main{
    display: grid;
}

.clearfix::after { 
    content: " ";
    display: block; 
    height: 0; 
    clear: both;
}

#university{
    background-image: url("../img/uade.webp"); /* Original image: https://www.uade.edu.ar/media/l2bjw5hp/frente-monserrat-noche.jpg?center=0.64200207002948817,0.49796876344469887&mode=crop&width=1900&height=580&rnd=133483364545500000 */
}

#hobby{
    background-image: url("../img/hobby.webp"); /* Original image: https://www.freepik.com/free-photo/top-view-set-gadgets-purple-neon-light-pink_10584199.htm#fromView=search&page=2&position=13&uuid=259017ce-85f1-4a0b-81eb-4c8e8a82fc55 */
}

#university, #hobby{
    height: 48vh;
    width: 100%;
    display: grid;
    background-size: cover;
    z-index: 3;
}

.text{
    position: absolute;
    place-self: center;
    text-align: center;
    transition: 2s;
}

.text > #name{
    color: #cda45e;
    font-weight: 100;
    font-size: 6em;
}

.text:hover{
    font-size: 1.25em;
    cursor: pointer;
}